@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 140px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222222;
}

header {
  background-color: #4c4c4c;
  padding: 20px 0px;
}
header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
}
header .header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
header .header nav ul a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
header .header nav ul a::after {
  content: "";
  border: 1px solid transparent;
  width: 0px;
  display: block;
}
header .header nav ul a:hover::after {
  border: 1px solid #f15d44;
  width: 100%;
}
header .header nav ul .navBtn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #f15d44;
  background-color: transparent;
  padding: 14px 28px;
}
header .header nav ul .navBtn:hover {
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  header .header nav {
    display: none;
  }
}
header .header .menu {
  background-color: #212121;
  padding: 4px 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  display: none;
}
header .header .menu:hover {
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  header .header .menu {
    display: block;
  }
}
header .header .menu span {
  margin-right: 10px;
}

hr {
  margin: 0;
  color: white;
  width: 2px;
}

#HERO {
  background-image: url("https://preview.colorlib.com/theme/gutim/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0px;
  width: 100%;
}
#HERO .heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  row-gap: 0px;
}
#HERO .heroSection span {
  color: #f15d44;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
}
#HERO .heroSection h1 {
  font-size: 72px;
  color: white;
  font-weight: 600;
}
#HERO .heroSection p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 44px;
}
#HERO .heroSection .heroBtn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 12px 32px;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #eb3c5a, #f67831);
}
#HERO .heroSection .heroBtn:hover {
  cursor: pointer;
}

#ABOUT {
  padding: 100px 0px;
}
#ABOUT .aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
#ABOUT .aboutSection .aboutSectionRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
#ABOUT .aboutSection .aboutSectionRight h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
}
#ABOUT .aboutSection .aboutSectionRight p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6b6b6b;
  margin-bottom: 15px;
}
#ABOUT .aboutSection .aboutSectionRight .aboutBtn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 12px 32px;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #eb3c5a, #f67831);
}
#ABOUT .aboutSection .aboutSectionRight .aboutBtn:hover {
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  #ABOUT .aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#SERVICES {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  gap: 0;
}
@media only screen and (max-width: 991px) {
  #SERVICES {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#SERVICES .servicesSectionLeft {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  #SERVICES .servicesSectionLeft {
    width: 100%;
  }
}
#SERVICES .servicesSectionLeft img {
  height: 555px;
  width: 100%;
}
#SERVICES .servicesSectionRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  gap: 0;
}
@media only screen and (max-width: 991px) {
  #SERVICES .servicesSectionRight {
    width: 100% !important;
  }
}
#SERVICES .servicesSectionRight .servicesSectionRightSide:first-child {
  background-color: #1e1e1e;
}
#SERVICES .servicesSectionRight .servicesSectionRightSide:last-child {
  background-color: #141414;
}
#SERVICES .servicesSectionRight .servicesSectionRightSide {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  #SERVICES .servicesSectionRight .servicesSectionRightSide {
    width: 100%;
    margin-top: -10px;
    gap: 40px;
  }
}
#SERVICES .servicesSectionRight .servicesSectionRightSide .servicesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 30px 70px 21px 70px;
}
#SERVICES .servicesSectionRight .servicesSectionRightSide .servicesCard .cardImage {
  height: 55px;
}
#SERVICES .servicesSectionRight .servicesSectionRightSide .servicesCard .cardTitle {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-top: 36px;
  margin-top: 20px;
}
#SERVICES .servicesSectionRight .servicesSectionRightSide .servicesCard .cardText {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
  color: #bdbdbd;
}

#CLASSES {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
  gap: 30px;
}
#CLASSES .classesTitle h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
#CLASSES .classesCardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#CLASSES .classesCardSection .cardSectionTop {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 991px) {
  #CLASSES .classesCardSection .cardSectionTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
#CLASSES .classesCardSection .cardSectionTop .classesCard .classesCardText {
  padding: 20px;
  margin-top: -100px;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}
#CLASSES .classesCardSection .cardSectionTop .classesCard .classesCardText .classesName p {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
#CLASSES .classesCardSection .cardSectionTop .classesCard .classesCardText .trainersName span {
  font-size: 14px;
  color: white;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */