@mixin primaryButton(){
    background-color: #ffb320;
    border-radius: 30px;
    padding: 12px 28px;
    border: none;
    a{
        font-weight: 500;
        font-size: 14px;
        color: black;
    }
}