#TRAINER{
    background-color: #f5f5f5;
    .container{
        .trainerSection{
            @include flexBoxColumn();
            .trainerSectionTop{
                h1{
                    font-size: 40px;
                    font-weight: 600;
                }
            }
            .trainerSectionBottom{
                @include flexBox();
                gap: 40px;
                .trainerInfoCard{
                    @include flexBoxColumn();
                    justify-content: center;
                    // .trainersImage{
                    // }
                    .trainersInfoSection{
                        background-color: white;
                        padding: 20px;
                        position: relative;
                        z-index: 10;
                        margin-top: -50px;
                        width: 75%;
                    }
                }
            }
        }
    }
}