#HERO{
        .heroSectionContent{
            padding: 150px 0px !important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 30px;
            text-align: left;
            h1{
                font-size: 60px;
                font-weight: 400;
                color: white;
                span{
                    color: #ffb320;
                }
            }
            p{
                font-size: 14px;
                color: white;
                line-height: 2;
            }
            .primary{
                @include primaryButton();
            }

        }
        .carousel-indicators button {
            width: 50px;  /* Dairənin eni */
            height: 50px; /* Dairənin hündürlüyü */
            border-radius: 50%; /* Dairə formasında olsun */
            background-color: yellow; /* Sarı fon */
            color: black; /* Mətn rəngi */
            font-size: 18px; /* Mətn ölçüsü */
            font-weight: bold; /* Qalın mətn */
            border: none; /* Sərhədsiz */
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px; /* Aralarında məsafə */
            transition: transform 0.2s ease-in-out;
          }
 
}