#NEWS{
    .latestNews{
        p{
            display: inline-block;
            color: white;
            font-size: 16px;
            font-weight: 500;
            background-color: #ffb320;
            padding: 30px 100px;
        }
    }
}