@mixin primaryButton(){
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 12px 32px;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #eb3c5a,#f67831 );;
    &:hover{
        cursor: pointer;
    }
}